<div class="mailbox-list" data-mailbox-list data-mailbox-folder-name="{{ folder }}" data-mailbox-unread="{{ 'true' if unread else 'false' }}" data-mailbox-selected-key="{{ selected.key if selected else '' }}" data-mailbox-page-size="100" data-mailbox-row-height="{{ mailbox.row_height }}" data-mailbox-total-count="{{ mailbox.total_count }}" data-mailbox-offset="{{ mailbox.offset }}">
  <div class="mailbox-list-heading"><strong>{% if folder == 'sent' %}Gesendet{% elif folder == 'unassigned' %}Unbekannt{% else %}Posteingang{% endif %}</strong><a href="/emails?folder={{ folder }}{% if not unread %}&amp;unread=true{% endif %}" data-mailbox-folder>{% if unread %}Alle{% else %}Nur neu{% endif %}</a></div>
  {% if mailbox.total_count %}
    <div class="mailbox-list-canvas" data-mailbox-list-canvas style="height: {{ mailbox.total_count * mailbox.row_height }}px;">
      {% with offset=mailbox.offset, selected_key=selected.key if selected else '', row_height=mailbox.row_height %}{% include "emails_message_list_rows.html" %}{% endwith %}
    </div>
  {% else %}
    <p class="mailbox-empty">In diesem Ordner liegen keine E-Mails.</p>
  {% endif %}
</div>
